.register-page {
  width: 350px;
  margin: 50px auto;

}

.register-page .phone {
  padding-right: 25px;
}

.register-page .link-login {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  padding: 18px;
  color: rgb(38, 38, 38);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.register-page .link-login .link {
  text-decoration: none;
  color: rgb(0, 149, 246);
  font-size: 14px;
  font-weight: 600;
}

.download {
  text-align: center;
  margin: 20px;
}
.download .store {
  margin-top: 20px;
}

.download img {
  width: 136px;
  height: 40px;
  padding: 2px;
}
